@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('font/CaviarDreams-webfont.eot');
    src: url('font/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CaviarDreams-webfont.woff2') format('woff2'),
         url('font/CaviarDreams-webfont.woff') format('woff'),
         url('font/CaviarDreams-webfont.ttf') format('truetype'),
         url('font/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('font/Caviar_Dreams_Bold-webfont.eot');
    src: url('font/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Caviar_Dreams_Bold-webfont.woff2') format('woff2'),
         url('font/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('font/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('font/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin:0;
}

/* header */

.header{
    background: url(banner_bg.jpg);
    width: 100%;
    background-size: cover;
}
.header-top{
	background: rgba(73, 84, 91, 0.84);
    padding: 3% 0;
}
.logo{
    display:flex;
    justify-content: flex-start;
}
.container {
    display:flex;
    width:80%;
    max-width: 1170px;
    margin: auto;
    padding: 0;
}
.menu {
    display:flex; 
    justify-content: flex-end;
    width:100%;
}
.nav {
    font-family: 'caviar_dreamsbold';
    display:flex;
    justify-content: flex-end;
    width:100%;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}
.liforme {
    padding:5px 10px;
    color: black;
    text-decoration: none;
    margin: 0 5px;
    color: rgba(255, 255, 255);
}
.menu li a:hover ,.menu li.active a{
    background:#fff;
    color:#4BCAFF;
} 
.lifirstchild {
    border: 2px solid #4bcaff;
    color: #4bcaff;
}
.header-bottom{
	padding:15% 0;
	text-align:center;
}
.header-bottom h1{
    font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size:2.5rem;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.6);
	padding: 10px;
    margin: 0;
    display:inline;
    padding: 0.5%;
    line-height: 250%;
}


/* find header */

/* services */

.services {
    background:#4bcaff;
    padding: 2% 0;
    color: rgba(255, 255, 255);
    font-family: 'roboto';
}
.width100 {
width: 100%;
}
.width95 {
    width:95%
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.margintop {
    margin-top: 3%;
}
.margintop2 {
    margin-top: 8%;
}
.margintop3 {
    margin-top: 5%;;
}
.margintop4 {
    margin-top: 7%;
}
.h3forme {
    font-size: 1.5rem;
	text-transform: uppercase;
}
.lineundertitle {
    border-bottom: 2px solid #FFF;
    margin: 0;
}
.titleh3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'roboto';
    display: block;
    color: rgb(255, 255, 255);
}
.heightimgservice {
    height: 52px;
}

/* fin services */

/* portfolio */

.toptitle{
	background: rgba(255, 255, 255);
    padding: 3% 0;
    width:100%;
}
.nav2 {
    display:flex;
    justify-content: flex-end;
    width:100%;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'caviar_dreamsbold';
}
.marginbot2 {
    margin-bottom: 2%;
}
.titleh3noir {
    font-family: 'roboto';
    text-transform: uppercase;
    font-size: 2rem;
    color: rgba(73, 84, 91, 0.84);
    margin:0;
    padding:0;
}
.liform2 {
    padding:5px 15px;
    text-decoration: none;
    margin: 0 10px;
    color: rgba(0, 0, 0);
}
.lineundertitle2 {
    border-bottom: 2px solid rgba(73, 84, 91, 0.84);
    margin: 0;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerimg {
    display:flex;
    width: 100%;
}
.marginbot {
    margin-bottom: 6%;
}

/* test img portfolio */

.test{
    height: 254px;
    width: 280px;
    position: relative;
}
.plus {
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    opacity: 0;
}
.plus:hover {
    opacity: 0.8;
    background-color: rgba(0,0,0,0.8);
}

/* fin portfolio */

/* default section */

.defaultsection {
    background: rgba(73, 84, 91, 0.84);
    padding: 3% 0;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
}
.formh3 {
    text-transform: uppercase;
    width: 40%;
}

.display-f{
    display: flex;
}
.flexcolumn {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.flex-end {
    display:flex; 
    justify-content: flex-end;
    width:100%;
}
.lineundertitle3 {
    border-bottom: 2px solid #FFF;
    margin: 0;
}
.marginright {
    margin-right: 15%;
}
.visitme {
    border: 2px solid #000000;
    background:rgba(73, 84, 91, 0.4);
    color: #000000;
    padding: 15px 40px;
    text-transform: uppercase;
    font-family: 'Roboto';
}

/* fin section default */

/* twitter */

.twitter {
    background:#4bcaff;
    padding: 4% 0;
    color: rgba(255, 255, 255);
    font-family: 'roboto';
}
.texttwitter {
    font-family: 'Roboto';
    font-size:1.7rem;
    line-height: 2rem;
    margin-top: 4%;
    width: 100%;
}
.containernoflex {
    width:80%;
    max-width: 1170px;
    margin: auto;
    padding: 0;
}
.titleh4 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'roboto';
    display: block;
    color: rgb(255, 255, 255);
    margin:0;
}

/* fin twitter */

/* john doe */

.imgdefond {
    background: url(bg_photo.png);
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
}
.padtop {
    padding-top: 5%;
}
.display-column1 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-right: 2%;
}
.display-column2 {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
.colorsizejohn {
    color: rgba(255, 255, 255);
    font-family:'roboto';
    font-size: 1.1rem;
}
.flex-wrap2{
    display: flex;
    flex-wrap: wrap;
}
.formimg2 {
    border: solid 2px white;
    padding: 10px;
    margin: 2%;
}
.padbot {
    padding-bottom: 6%;
}

/* fin john doe */

/* testimonials */

.texttestimonial {
    font-family: 'Roboto';
    font-size:1.7rem;
    line-height: 2rem;
    margin-bottom: 3%;
    width: 100%;
}
.marginzero {
    margin :0;
}
.walterwhite {
    color:#4bcaff;
    font-size: 1rem;
}

/* fin testimonials */

/* contact */

.imgcontact {
    background: url(layer.png);
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255);
    font-family: 'roboto';
}
input {
    box-shadow: none;
    height: 60px;
    width: 90%;
    border: 1px solid white;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1,8rem;
    color :white;
}
textarea {
    width: 100%;
    border: 2px solid #fff;
    resize: vertical;
    box-shadow: none;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1,8rem;
    color :white;
    height: 12rem;
}
.flexcolumn2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}
.spaceline {
    line-height: 150%;
}
.margin {
    margin:0;
}
.spaceline2 {
    line-height: 180%;
}
.message {
    border: none;
    background:#4bcaff;
    color: #ffffff;
    padding: 15px 0;
    width: 25%;
    text-transform: uppercase;
    font-family: 'Roboto';
    margin-bottom: 6%;
}
.message:hover {
    background-color: rgb(0, 2, 114);
}
.width50 {
    width: 50%;
}
input, textarea {
    font: 1rem sans-serif;
}
input:focus:valid {
    border: 2px solid rgb(0, 158, 13);
    box-shadow: none;
}
input:focus:invalid {
    border: 2px solid rgb(179, 0, 0);
    box-shadow: none;
}
:required {
    border: 2px solid #fff;
    box-shadow: none;
}
label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

/* fin contact */

/* footer */

.backgroundfooter {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255);
    font-family: 'roboto';
    padding-top: 4%;
}
.spaceb {
    justify-content: space-between;
}
.padbot2 {
 padding-bottom: 3%;
}
.nav3 {
    display:flex;
    justify-content: flex-start;
    width:100%;
    padding: 0;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'caviar_dreamsbold';
}
.liform3 {
    padding:5px 10px;
    text-decoration: none;
    margin: 0;
    font-size: 1rem;
    color: rgba(0, 0, 0);
}
.nowrap {
    flex-wrap: nowrap;
}


/* fin footer */


/***************** correction *****************/

/* bordure des titres bien fait */

/* h3::after {
    content: '';
    display: block;
    height: 0;
    border-top: 2px solid white;
    width: 43px;
}
h3.text-color-secondary::after {
    border-top-color: black;
} 
*/

/* pseudo element = ::
mozilla.org liste pseudo classe */

/* text-color 
.text-color-primary {
    color:white;
}
*/

/* faire les margin en rem ! 1rem=16px */
