@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('font/Caviar_Dreams_Bold-webfont.eot');
    src: url('font/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Caviar_Dreams_Bold-webfont.woff2') format('woff2'),
         url('font/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('font/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('font/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('font/CaviarDreams-webfont.eot');
    src: url('font/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CaviarDreams-webfont.woff2') format('woff2'),
         url('font/CaviarDreams-webfont.woff') format('woff'),
         url('font/CaviarDreams-webfont.ttf') format('truetype'),
         url('font/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* header */

.header{
    background: url(banner_bg.jpg);
    width: 100%;
    background-size: cover;
}
.header-top{
	background: rgba(73, 84, 91, 0.84);
    padding: 3% 0;
}
.logo{
    display:flex;
    justify-content: flex-start;
}
.container {
    display:flex;
    width:80%;
    max-width: 1170px;
    margin: auto;
    padding: 0;
}
.menu {
    display:flex; 
    justify-content: flex-end;
    width:100%;
}
.nav {
    display:flex;
    width:52%;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'caviar_dreamsbold';

}
.liforme {
    padding:5px 10px;
    color: black;
    text-decoration: none;
    margin: 0 5px;
    color: rgba(255, 255, 255);
}
.menu li a:hover ,.menu li.active a{
    background:#fff;
    color:#4BCAFF;
} 
.lifirstchild {
    border: 2px solid #4bcaff;
    color: #4bcaff;
}
.header-bottom{
	padding:15% 0;
	text-align:center;
}
.header-bottom h1{
    font-family: 'caviar_dreamsregular';
	color: #FFF;
	font-size:2.5em;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.6);
	padding: 10px;
    margin: 0;
    display:inline;
    padding: 0.5%;
    line-height: 250%;
}


/* find header */

/* services */

.services {
    background:#4bcaff;
    padding: 2% 0;
    color: rgba(255, 255, 255);
    font-family: 'roboto';
}
.width100 {
width: 100%;
}
.width95 {
    width:95%
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.margintop {
    margin-top: 3%;
}
.h3forme {
    font-size: 1.5em;
	text-transform: uppercase;
}
.lineundertitle {
    border-bottom: 2px solid #FFF;
    margin: 0;
}
.titleh3 {
    text-transform: uppercase;
    font-size: 1.7em;
    display: block;
}
.heightimgservice {
    height: 52px;
}

/* fin services */


/* portfolio */

.toptitle{
	background: rgba(255, 255, 255);
    padding: 3% 0;
    width:100%;
}
.nav2 {
    display:flex;
    width:55%;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'caviar_dreamsbold';

}

.titleh3noir {
    text-transform: uppercase;
    font-size: 2em;
    color: rgba(73, 84, 91, 0.84);
    margin:0;
    padding:0;
}
.liform2 {
    padding:5px 15px;
    text-decoration: none;
    margin: 0 10px;
    color: rgba(0, 0, 0);
}
.lineundertitle2 {
    border-bottom: 2px solid rgba(73, 84, 91, 0.84);
    margin: 0;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerimg {
    display:flex;
    width: 100%;
}
.marginbot {
    margin-bottom: 6%;
}

/* fin portfolio */


/* default section */


.defaultsection {
    background: rgba(73, 84, 91, 0.84);
    padding: 3% 0;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
}
.formh3 {
    text-transform: uppercase;
    width: 40%;
}

.display-f{
    display: flex;
}
.flexcolumn {
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}
.flex-end {
    display:flex; 
    justify-content: flex-end;
    width:100%;
}
.lineundertitle3 {
    border-bottom: 2px solid #FFF;
    margin: 0;
}

.visitme {
    border: 2px solid #000000;
    background:rgba(73, 84, 91, 0.4);
    color: #000000;
    padding: 15px 40px;
    text-transform: uppercase;
    font-family: 'Roboto';

}

/* fin section default */


/* twitter */

.twitter {
    background:#4bcaff;
    padding: 2% 0;
    color: rgba(255, 255, 255);
    font-family: 'roboto';
}
.texttwitter {
    font-family: 'Roboto';
    font-size:1.7em;
    line-height: 2em;
    margin:0;
}
